body {
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  background: #61cbcb !important;
}

.nav-link {
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30vh;
  flex-direction: column;
}
header h2 {
  margin: 10px;
  font-size: larger;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: RoyalBlue;
}
section {
  height: 70vh;
}
.card {
  /* height: 60vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 300px;
  background-color: #c7ffff;
  margin: auto;
}
.fileicon {
  width: 100px;
  height: 100px;
  font-size: 100px;
  text-align: center;
}
.card .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card .container h4 {
  padding: 8px;
  text-align: center;
}
.custom-file-upload {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 6px 10px;
  width: 40%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h2 {
  text-align: center;
  font-size: larger;
  padding: 0 0 10px 0;
}

.submit-btn {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-icon {
  padding-right: 5px;
}
